/* GENERAL */

.bottom-space {
	margin-bottom: 80px;
}

.space-top {
	margin-top: 10px;
}

.avatar .circle {
	background-size: contain;
}

/* ONE LINE COLLECTION */

.collection.one-line .avatar {
	min-height: 0px;
}

/* MESSAGES */

.message {
	padding: 5px 10px;
	border-radius: 3px;
}

.message.danger {
	color: #e53935;
	background-color: #ffcdd2;
}

.message.notice {
	color: #1565c0;
	background-color: #bbdefb;
}

.message.success {
	color: #1b5e20;
	background-color: #c8e6c9;
}

.message i {
	position: relative;
	bottom: -5px;
	float: left;
}

.message p {
	margin-left: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* TAGS */

.chip .icon {
	float: left;
	font-size: 16px;
	line-height: 32px;
	padding-right: 5px;
}

.chip.tiny {
	height: 20px;
	padding: 0 10px;
	line-height: 20px;
	font-size: x-small;
}

.chip.tiny .icon {
	line-height: 20px;
}

.btn-floating.second {
	margin-right: -10px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}

.btn-floating.third {
	bottom: 45px;
	left: 87px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}